.simulator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface {
    width: 90%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* _-_- MAP -_-_ */

.map {
    position: relative;
    background-color: var(--black);
    border: 1px solid var(--white);
    width: 100%;
    max-width: 800px;
    height: 70vh;
}

.generator {
    position: absolute;
    height: 50px;
}

/* _-_- SURVIVORS -_-_ */

.survivors {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survivor {
    padding: 3px;
    min-width: 250px;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
    margin: 0px 10px;
}


.survivor .info {
    padding: 20px;
    display: flex;
}

.survivor .portrait {
    display: flex;
    align-items: center;
}

.survivor .portrait > img {
    width: 50px;
    box-shadow: 0px 0px 10px 0px var(--green);
}

.survivor .status {
    margin-left: 20px;
    width: 100%;
}

.survivor .status > .name {
    margin-bottom: 5px;
    font-weight: 700;
}

.survivor .objective > .progress-bar {
    padding: 2px;
    margin-top: 5px;
    border: 1px solid var(--white);
    width: 100%;
    height: 15px;
}

.survivor .objective .progress-bar > .filler {
    background-color: var(--white);
    width: 50%;
    height: 100%;
}

.survivor .options {
    display: flex;
}

.survivor .options > button {
    flex-grow: 1;
}

.survivor .options > button:nth-child(2) {
    margin: 0px 3px;
}

.survivor .options > button:disabled {
    pointer-events: none;
}

