.simulator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.survivor {
    padding: 20px;
    background-color: var(--black);
    border-radius: 5px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    text-align: center;
}

.survivor > div {
    margin: 10px 0px;
}

.survivor .status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survivor .portrait {
    width: 150px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px var(--green);
}

.survivor .options {
    display: flex;
    flex-direction: column;
}

.survivor .options > button {
    margin: 3px 0px;
}