/* _-_-VAR-_-_ */

:root {
    --white: hsl(0, 0%, 90%);
    --gray: hsl(0, 0%, 20%);
    --black: hsl(0, 0%, 10%);
    --red: rgb(255, 120, 120);
    --orange: rgb(255, 180, 120);
    --yellow: rgb(255, 255, 120);
    --green: rgb(120, 255, 120);
    --cyan: rgb(120, 255, 255);
    --blue: rgb(120, 120, 255);
    --pink: rgb(255, 120, 255);
    --black-opacity: hsla(0, 0%, 10%, 0.4);
    --red-opacity: rgba(255, 120, 120, 0.4);
    --orange-opacity: rgba(255, 180, 120, 0.4);
    --yellow-opacity: rgba(255, 255, 120, 0.4);
    --green-opacity: rgba(120, 255, 120, 0.4);
    --cyan-opacity: rgba(120, 255, 255, 0.4);
    --blue-opacity: rgba(120, 120, 255, 0.4);
    --pink-opacity: rgba(255, 120, 255, 0.4);
}

/* _-_-RESET-_-_ */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--gray);
}

/* _-_-ALL-_-_ */

.btn {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.btn:disabled {
    background-color: var(--gray);
}

.btn-black {
    background-color: var(--black);
}

.btn-black:hover {
    background-color: var(--black-opacity);
}

.btn-red {
    background-color: var(--red);
}

.btn-red:hover {
    background-color: var(--red-opacity);
}

.btn-orange {
    background-color: var(--orange);
}

.btn-orange:hover {
    background-color: var(--orange-opacity);
}

.btn-green {
    background-color: var(--green);
}

.btn-green:hover {
    background-color: var(--green-opacity);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-blue:hover {
    background-color: var(--blue-opacity);
}